<launch>
    <!-- ROS Topic Parameters -->
    <arg name="human" default="True" />
    <arg name="joints_topic" default="/shadow_joints" />

    <!-- Node -->
    <node name="bio_ik_no_filter_node" pkg="bio_ik_solver" type="bio_ik_no_filter_node" output="screen">
        <!-- Set Parameters -->
        <param name="human" value="$(arg human)" />
        <param name="joints_topic" value="$(arg joints_topic)" />
    </node>
</launch>
